nbproject/private/
nbactions.xml
target/
hs_err*.log
.idea/
.project
.classpath
.settings/
.DS_Store
*.iml
*.class
*.png
*~
/Graph/GraphDataFolder
/Graph/testFile
/TestProject/Graphs*
/TestProject/testFile
/TestProject/DataFile
/TestProject/newGraphFile*
/TestProject/GraphDataFolder
